.activeCategorie {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--mainBackground);
  width: 202px;
  height: 48px;
  border-radius: 8px;
  font: normal 600 25px/25px Mulish, sans-serif;
  text-align: center;
}
.categorieButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #a7b0be;
  width: 202px;
  height: 48px;
  border-radius: 8px;
  font: normal 600 25px/25px Mulish, sans-serif;
  text-align: center;
}

.categorieButton:hover {
  background: var(--mainBackground);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .categorieButton {
    width: 100%;
    font: normal 600 15px/25px Mulish, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .categorieButton {
    font: normal 600 15px/25px Mulish, sans-serif;
  }
}
