.post_info,
.post_time {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;

  color: #4c5667;
}

.post_author {
  color: #6324c6;
}

.post_detail {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
@media screen and (max-width: 780px) {
  .post_title {
    font-size: 20px;
  }
  .post_info,
  .post_time,
  .post_author {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .post_title {
    font-size: 14px;
  }
  .post_info,
  .post_time,
  .post_author {
    font-size: 10px;
  }
}
